* {
  margin: 0%;
  padding: 0;
}
body {
  color: white;
  font-family: "Audiowide", cursive;
}

#header {
  background: rgb(0, 0, 0);
  border-bottom: 8px solid red;
  padding: 30px 0;
}

.container {
  width: 80%;
  margin: auto;
}
#last-name {
  color: red;
}
#header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li {
  display: inline;
  list-style: none;
  padding-left: 20px;
}
li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
#main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url("images/banner.jpg");
  background-size: cover;

  height: 90vh;
}
h1,
p {
  text-align: center;
}
#main h1 {
  font-size: 60px;
  margin-bottom: 50px;
}
#main .container {
  padding-top: 150px;
}
p {
  font-size: 30px;
}
h2 {
  color: red;
  text-align: center;
}
#about {
  background: black;
}
.about-text {
  font-size: 18px;
  text-align: left;
}
